/*
* Skel v0.4
* Copyright (c) Tomas Pollak
* Based on Skeleton CSS by Dave Gamache
*/

/* Base Styles
-------------------------------------------------- */

/*
html, body {
  height: 100%;
}
*/

/*  html is set to 62.5% so that all the REM measurements throughout Skeleton
    are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  color: #222;
}

body, label, input, textarea, select, button {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', Arial, Noto Sans, sans-serif;
}

th, label, legend {
  font-weight: 500;
}

b, strong {
  font-weight: 600;
}

abbr[title] {
  text-decoration: none;
  border-bottom: dotted 1px;
}

pre, code {
  color: #a93fa9;
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

/* utility classes */
.serif {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

.monospace {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}


/* Typography
-------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 500;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased; }

h1  { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2  { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3  { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4  { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5  { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6  { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

p   { margin-top: 0; }
img { max-width: 100%; }


/* Grid
-------------------------------------------------- */

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .grid,
  .columns {
    margin-left: -25px;
  }

  .grid > *,
  .columns > * {
    float: left;
    padding-left: 25px;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
  }

  /* allow using the .grid class directly on .width-* elements */
  .grid[class*='width-'] {
    padding-left: 0;
    margin-left: 0;
  }

  /* allow containers to acts a grid parents */
  .container.grid {
    margin-left: auto;
    padding-left: 0;
  }

  .full.columns,
  .full.grid {
    margin-left: 0;
  }

  .full.columns > *,
  .full.grid > * {
    padding-left: 0;
  }

  /* widths */
  .width-5, .w-5      { width: 5%; }
  .width-10, .w-10    { width: 10%; }
  .width-15, .w-15    { width: 15%; }
  .five.columns > *,
  .width-one-fifth, .w-1-5, .w-1\/5,
  .width-20, .w-20    { width: 20%; }
  .four.columns > *,
  .width-one-fourth, .w-1-4, .w-1\/4,
  .width-25, .w-25    { width: 25%; }
  .width-30, .w-30    { width: 30%; }
  .three.columns > *,
  .width-one-third, .w-1-3, .w-1\/3 { width: 33.333%; }
  .width-35, .w-35    { width: 35%; }
  .width-40, .w-40    { width: 40%; }
  .width-45, .w-45    { width: 45%; }
  .two.columns > *,
  .width-one-half, .w-1-2, .w-1\/2,
  .width-50, .w-50    { width: 50%; }
  .width-55, .w-55    { width: 55%; }
  .width-60, .w-60    { width: 60%; }
  .width-65, .w-65    { width: 65%; }
  .width-two-thirds   { width: 66.666%; }
  .width-70, .w-70    { width: 70%; }
  .width-75, .w-75    { width: 75%; }
  .width-80, .w-80    { width: 80%; }
  .width-85, .w-85    { width: 85%; }
  .width-90, .w-90    { width: 90%; }
  .width-95, .w-95    { width: 95%; }
}

/* Buttons
-------------------------------------------------- */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 42px;
  padding: 0 30px;
  color: #777;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #aaa;
  cursor: pointer;
  box-sizing: border-box; }

input[type=submit].primary,
button.primary,
.button.primary {
  color: rgb(0, 120, 231);
  border-color: rgb(0, 120, 231);
}

input[type=submit].selected,
button.selected,
.button.selected {
  color: #345fcb;
  border-color: #345fcb;
}

input[type=submit].secondary,
button.secondary,
.button.secondary {
  border-color: rgb(126, 159, 177);
  color: rgb(88, 136, 162);
}

input[type=submit].danger,
button.danger,
.button.danger {
  color: rgb(214, 86, 75);
  border-color: rgb(214, 86, 75);
}

input[type=submit].success,
button.success,
.button.success {
  color: rgb(64, 189, 79);
  border-color: rgb(64, 189, 79);
}

input[type=submit].warning,
button.warning,
.button.warning {
  color: rgb(255, 163, 0);
  border-color: rgb(255, 163, 0);
}

input[type=submit]:disabled,
button:disabled,
.button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #666;
  outline: 0; }

.button.small,
button.small,
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
}

.dark .button {
  color: #ddd;
  border-color: #ddd;
}

.dark .button:hover {
  color: #fff;
  border-color: #fff;
}


/* Forms
-------------------------------------------------- */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="datetime-local"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea, select {
  width: 100%;
  height: 42px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="datetime-local"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea, select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

textarea {
  min-height: 65px;
  line-height: 1.6; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem; }

legend { color: #999; }

fieldset {
  padding: 0;
  margin: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 5px;
}

/*
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
*/

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

input:disabled,
select:disabled,
textarea:disabled {
  color: #999;
  background-color: #f6f6f6;
}

select {
  line-height: 1.6;
  border-radius: 0; /* chrome osx */
  padding-right: 36px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='12' fill='%23aaaaaa'><polygon points='12,4 24,4 18,10'/></svg>");
  background-repeat: no-repeat;
  background-position: right center;
}

select:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='12' fill='%23222222'><polygon points='12,4 24,4 18,10'/></svg>");
}

select.loading {
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'><path d='M18,8 a1,1 0 0,10 20,0' fill='none' stroke='%23444444' stroke-width='2'><animateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='0.6s' repeatCount='indefinite'/></path></svg>"); */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'><path d='M14,8 a1,1 0 0,10 20,0' fill='none' stroke='%23444444' stroke-width='2'><animateTransform attributeName='transform' type='rotate' from='0 14 18' to='360 14 18' dur='0.6s' repeatCount='indefinite'/></path></svg>");
  padding-right: 44px;
}

@media (min-width: 900px) {
  .aligned input,
  .aligned textarea,
  .aligned select {
    display: inline-block;
    width: auto;
    margin-bottom: 2rem;
  }

  .aligned label {
    text-align: right;
    display: inline-block;
    width: 40%;
    margin: 0 1em 0 0;
  }
}


/* Lists
-------------------------------------------------- */
ul {
  list-style: disc inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 2.5rem; }

li {
  margin-bottom: 0.7rem; }

dt { font-weight: 500; margin-bottom: 0.5rem; }
dd { margin: 0 0 1.5rem 0; }


/* Code
-------------------------------------------------- */

code {
  padding: .3rem .6rem;
  font-size: 90%;
  white-space: nowrap;
  background: #fafafa;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

pre {
  margin-top: 0;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

pre > code {
  display: block;
  white-space: pre;
  overflow-x: auto;
}


/* Tables
-------------------------------------------------- */

table {
  width: 100%;
  background-color: transparent;
  border-spacing: 0;
}

th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

/*
th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }
*/

/* Spacing
-------------------------------------------------- */

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

table input, table select, table textarea {
  margin-bottom: 0; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Misc
-------------------------------------------------- */

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
-------------------------------------------------- */

.container:after,
.columns:after,
.grid:after,
.clearfix:after,
.cf:after {
  content: "";
  display: table;
  clear: both; }


/* Utilities
-------------------------------------------------- */

/* these two (visible and hidden) we declare after the media query scopes */
/*.visible       { display: inherit !important; }*/
/*.hidden        { display: none !important; }*/
.block         { display: block !important; }
.inline        { display: inline-block !important; *display: inline; /*IE 6/7*/ }

.fixed         { position: fixed !important }
.absolute      { position: absolute !important }
.relative      { position: relative !important }
.sticky        { position: -webkit-sticky; position: sticky }
.bottom        { bottom: 0; }

.left          { float: left !important; }
.right         { float: right !important; }
.clear         { clear: both; }
.center        { float: none; margin-left: auto; margin-right: auto; }

.centered {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* transform: translateY(-50%); */
  /* right: 25px; */
  /* left: 25px; */
}

.v-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.full         { width: 100%; height: 100%; }
.h-full       { height: 100% }
.h-screen     { height: 100vh }
.max-h-full   { max-height: 100% }
.max-h-screen { max-height: 100vh }

.w-full       { width: 100% }
.w-screen     { width: 100vw }
.max-w-full   { max-width: 100% }
.max-w-screen { max-width: 100vw }

.m-0, .m0, .nomargin { margin: 0 }
.m-10         { margin: 10px; }
.m-25         { margin: 25px; }
.m-50         { margin: 50px; }
.m-100        { margin: 100px; }
.mt-10        { margin-top: 10px; }
.mt-25        { margin-top: 25px; }
.mt-50        { margin-top: 50px; }
.mt-100       { margin-top: 100px; }
.mb-10        { margin-bottom: 10px; }
.mb-25        { margin-bottom: 25px; }
.mb-50        { margin-bottom: 50px; }
.mb-100       { margin-bottom: 100px; }
.ml-10        { margin-left: 10px; }
.ml-25        { margin-left: 25px; }
.ml-50        { margin-left: 50px; }
.ml-100       { margin-left: 100px; }
.mr-10        { margin-right: 10px; }
.mr-25        { margin-right: 25px; }
.mr-50        { margin-right: 50px; }
.mr-100       { margin-right: 100px; }

.p-0, .p0, .nopadding { padding: 0 }
.p-10         { padding: 10px; }
.p-25         { padding: 25px; }
.p-50         { padding: 50px; }
.p-100        { padding: 100px; }
.pt-10        { padding-top: 10px; }
.pt-25        { padding-top: 25px; }
.pt-50        { padding-top: 50px; }
.pt-100       { padding-top: 100px; }
.pb-10        { padding-bottom: 10px; }
.pb-25        { padding-bottom: 25px; }
.pb-50        { padding-bottom: 50px; }
.pb-100       { padding-bottom: 100px; }
.pl-10        { padding-left: 10px; }
.pl-25        { padding-left: 25px; }
.pl-50        { padding-left: 50px; }
.pl-100       { padding-left: 100px; }
.pr-10        { padding-right: 10px; }
.pr-25        { padding-right: 25px; }
.pr-50        { padding-right: 50px; }
.pr-100       { padding-right: 100px; }

.bg-black     { background-color: #000 }
.bg-333       { background-color: #333 }
.bg-666       { background-color: #666 }
.bg-999       { background-color: #999 }
.bg-ccc       { background-color: #ccc }
.bg-white     { background-color: #fff }

.text-black   { color: #000 }
.text-333     { color: #333 }
.text-666     { color: #666 }
.text-999     { color: #999 }
.text-ccc     { color: #ccc }
.text-white   { color: #fff }

.text-left    { text-align: left; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
.text-lower   { text-transform: lowercase; }
.text-upper   { text-transform: uppercase; }
.text-under   { text-decoration: underline }

.hover\:text-under:hover { text-decoration: underline }
.focus\:text-under:focus { text-decoration: underline }

.text-tighter { letter-spacing: -.05em }
.text-tight   { letter-spacing: -.025em }
.text-wide    { letter-spacing: .025em }
.text-wider   { letter-spacing: .05em }

.text-smaller { font-size: 0.5em }
.text-small   { font-size: 0.75em }
.text-big     { font-size: 1.5em }
.text-bigger  { font-size: 2em }

.nowrap   { white-space: nowrap; }
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

@media (max-width: 600px) {
  .sm\:hidden,
  .md\:visible,
  .lg\:visible,
  .xl\:visible {
    display: none !important;
  }

  .sm\:visible {
    display: inherit !important;
  }

  .sm\:block         { display: block !important; }
  .sm\:inline        { display: inline-block !important; *display: inline; /*IE 6/7*/ }

  .sm\:fixed         { position: fixed !important }
  .sm\:absolute      { position: absolute !important }
  .sm\:relative      { position: relative !important }
  .sm\:sticky        { position: -webkit-sticky; position: sticky }
  .sm\:bottom        { bottom: 0; }

  .sm\:left          { float: left !important; }
  .sm\:right         { float: right !important; }
  .sm\:clear         { clear: both; }
  .sm\:center       { float: none; margin-left: auto; margin-right: auto; }

  .sm\:centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* transform: translateY(-50%); */
    /* right: 25px; */
    /* left: 25px; */
  }

  .sm\:v-centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .sm\:full         { width: 100%; height: 100%; }
  .sm\:h-full       { height: 100% }
  .sm\:h-screen     { height: 100vh }
  .sm\:max-h-full   { max-height: 100% }
  .sm\:max-h-screen { max-height: 100vh }

  .sm\:w-full       { width: 100% }
  .sm\:w-screen     { width: 100vw }
  .sm\:max-w-full   { max-width: 100% }
  .sm\:max-w-screen { max-width: 100vw }

  .sm\:m-0, .sm\:m0, .sm\:nomargin { margin: 0 }
  .sm\:m-10         { margin: 10px; }
  .sm\:m-25         { margin: 25px; }
  .sm\:m-50         { margin: 50px; }
  .sm\:m-100        { margin: 100px; }
  .sm\:mt-10        { margin-top: 10px; }
  .sm\:mt-25        { margin-top: 25px; }
  .sm\:mt-50        { margin-top: 50px; }
  .sm\:mt-100       { margin-top: 100px; }
  .sm\:mb-10        { margin-bottom: 10px; }
  .sm\:mb-25        { margin-bottom: 25px; }
  .sm\:mb-50        { margin-bottom: 50px; }
  .sm\:mb-100       { margin-bottom: 100px; }
  .sm\:ml-10        { margin-left: 10px; }
  .sm\:ml-25        { margin-left: 25px; }
  .sm\:ml-50        { margin-left: 50px; }
  .sm\:ml-100       { margin-left: 100px; }
  .sm\:mr-10        { margin-right: 10px; }
  .sm\:mr-25        { margin-right: 25px; }
  .sm\:mr-50        { margin-right: 50px; }
  .sm\:mr-100       { margin-right: 100px; }

  .sm\:p-0, .sm\:p0, .sm\:nopadding { padding: 0 }
  .sm\:p-10         { padding: 10px; }
  .sm\:p-25         { padding: 25px; }
  .sm\:p-50         { padding: 50px; }
  .sm\:p-100        { padding: 100px; }
  .sm\:pt-10        { padding-top: 10px; }
  .sm\:pt-25        { padding-top: 25px; }
  .sm\:pt-50        { padding-top: 50px; }
  .sm\:pt-100       { padding-top: 100px; }
  .sm\:pb-10        { padding-bottom: 10px; }
  .sm\:pb-25        { padding-bottom: 25px; }
  .sm\:pb-50        { padding-bottom: 50px; }
  .sm\:pb-100       { padding-bottom: 100px; }
  .sm\:pl-10        { padding-left: 10px; }
  .sm\:pl-25        { padding-left: 25px; }
  .sm\:pl-50        { padding-left: 50px; }
  .sm\:pl-100       { padding-left: 100px; }
  .sm\:pr-10        { padding-right: 10px; }
  .sm\:pr-25        { padding-right: 25px; }
  .sm\:pr-50        { padding-right: 50px; }
  .sm\:pr-100       { padding-right: 100px; }

  .sm\:bg-black   { background-color: #000 }
  .sm\:bg-333     { background-color: #333 }
  .sm\:bg-666     { background-color: #666 }
  .sm\:bg-999     { background-color: #999 }
  .sm\:bg-ccc     { background-color: #ccc }
  .sm\:bg-white   { background-color: #fff }

  .sm\:text-black   { color: #000 }
  .sm\:text-333     { color: #333 }
  .sm\:text-666     { color: #666 }
  .sm\:text-999     { color: #999 }
  .sm\:text-ccc     { color: #ccc }
  .sm\:text-white   { color: #fff }

  .sm\:text-left    { text-align: left; }
  .sm\:text-center  { text-align: center; }
  .sm\:text-right   { text-align: right; }
  .sm\:text-lower   { text-transform: lowercase; }
  .sm\:text-upper   { text-transform: uppercase; }
  .sm\:text-under   { text-decoration: underline }

  .sm\:hover\:text-under:hover { text-decoration: underline }
  .sm\:focus\:text-under:focus { text-decoration: underline }

  .sm\:text-tighter { letter-spacing: -.05em }
  .sm\:text-tight   { letter-spacing: -.025em }
  .sm\:text-wide    { letter-spacing: .025em }
  .sm\:text-wider   { letter-spacing: .05em }

  .sm\:text-smaller { font-size: 0.5em }
  .sm\:text-small   { font-size: 0.75em }
  .sm\:text-big     { font-size: 1.5em }
  .sm\:text-bigger  { font-size: 2em }

  .sm\:nowrap       { white-space: nowrap; }
  .sm\:truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .sm\:visible,
  .md\:hidden,
  .lg\:visible,
  .xl\:visible {
    display: none !important;
  }

  .md\:visible {
    display: inherit !important;
  }

  .md\:block         { display: block !important; }
  .md\:inline        { display: inline-block !important; *display: inline; /*IE 6/7*/ }

  .md\:fixed         { position: fixed !important }
  .md\:absolute      { position: absolute !important }
  .md\:relative      { position: relative !important }
  .md\:sticky        { position: -webkit-sticky; position: sticky }
  .md\:bottom        { bottom: 0; }

  .md\:left          { float: left !important; }
  .md\:right         { float: right !important; }
  .md\:clear         { clear: both; }
  .md\:center       { float: none; margin-left: auto; margin-right: auto; }

  .md\:centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* transform: translateY(-50%); */
    /* right: 25px; */
    /* left: 25px; */
  }

  .md\:v-centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .md\:full         { width: 100%; height: 100%; }
  .md\:h-full       { height: 100% }
  .md\:h-screen     { height: 100vh }
  .md\:max-h-full   { max-height: 100% }
  .md\:max-h-screen { max-height: 100vh }

  .md\:w-full       { width: 100% }
  .md\:w-screen     { width: 100vw }
  .md\:max-w-full   { max-width: 100% }
  .md\:max-w-screen { max-width: 100vw }

  .md\:m-0, .md\:m0, .md\:nomargin { margin: 0 }
  .md\:m-10         { margin: 10px; }
  .md\:m-25         { margin: 25px; }
  .md\:m-50         { margin: 50px; }
  .md\:m-100        { margin: 100px; }
  .md\:mt-10        { margin-top: 10px; }
  .md\:mt-25        { margin-top: 25px; }
  .md\:mt-50        { margin-top: 50px; }
  .md\:mt-100       { margin-top: 100px; }
  .md\:mb-10        { margin-bottom: 10px; }
  .md\:mb-25        { margin-bottom: 25px; }
  .md\:mb-50        { margin-bottom: 50px; }
  .md\:mb-100       { margin-bottom: 100px; }
  .md\:ml-10        { margin-left: 10px; }
  .md\:ml-25        { margin-left: 25px; }
  .md\:ml-50        { margin-left: 50px; }
  .md\:ml-100       { margin-left: 100px; }
  .md\:mr-10        { margin-right: 10px; }
  .md\:mr-25        { margin-right: 25px; }
  .md\:mr-50        { margin-right: 50px; }
  .md\:mr-100       { margin-right: 100px; }

  .md\:p-0, .md\:p0, .md\:nopadding { padding: 0 }
  .md\:p-10         { padding: 10px; }
  .md\:p-25         { padding: 25px; }
  .md\:p-50         { padding: 50px; }
  .md\:p-100        { padding: 100px; }
  .md\:pt-10        { padding-top: 10px; }
  .md\:pt-25        { padding-top: 25px; }
  .md\:pt-50        { padding-top: 50px; }
  .md\:pt-100       { padding-top: 100px; }
  .md\:pb-10        { padding-bottom: 10px; }
  .md\:pb-25        { padding-bottom: 25px; }
  .md\:pb-50        { padding-bottom: 50px; }
  .md\:pb-100       { padding-bottom: 100px; }
  .md\:pl-10        { padding-left: 10px; }
  .md\:pl-25        { padding-left: 25px; }
  .md\:pl-50        { padding-left: 50px; }
  .md\:pl-100       { padding-left: 100px; }
  .md\:pr-10        { padding-right: 10px; }
  .md\:pr-25        { padding-right: 25px; }
  .md\:pr-50        { padding-right: 50px; }
  .md\:pr-100       { padding-right: 100px; }

  .md\:bg-black   { background-color: #000 }
  .md\:bg-333     { background-color: #333 }
  .md\:bg-666     { background-color: #666 }
  .md\:bg-999     { background-color: #999 }
  .md\:bg-ccc     { background-color: #ccc }
  .md\:bg-white   { background-color: #fff }

  .md\:text-black   { color: #000 }
  .md\:text-333     { color: #333 }
  .md\:text-666     { color: #666 }
  .md\:text-999     { color: #999 }
  .md\:text-ccc     { color: #ccc }
  .md\:text-white   { color: #fff }

  .md\:text-left    { text-align: left; }
  .md\:text-center  { text-align: center; }
  .md\:text-right   { text-align: right; }
  .md\:text-lower   { text-transform: lowercase; }
  .md\:text-upper   { text-transform: uppercase; }
  .md\:text-under   { text-decoration: underline }

  .md\:hover\:text-under:hover { text-decoration: underline }
  .md\:focus\:text-under:focus { text-decoration: underline }

  .md\:text-tighter { letter-spacing: -.05em }
  .md\:text-tight   { letter-spacing: -.025em }
  .md\:text-wide    { letter-spacing: .025em }
  .md\:text-wider   { letter-spacing: .05em }

  .md\:text-smaller { font-size: 0.5em }
  .md\:text-small   { font-size: 0.75em }
  .md\:text-big     { font-size: 1.5em }
  .md\:text-bigger  { font-size: 2em }

  .md\:nowrap       { white-space: nowrap; }
  .md\:truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .sm\:visible,
  .md\:visible,
  .lg\:hidden,
  .xl\:visible {
    display: none !important;
  }

  .lg\:visible {
    display: inherit !important;
  }

  .lg\:block         { display: block !important; }
  .lg\:inline        { display: inline-block !important; *display: inline; /*IE 6/7*/ }

  .lg\:fixed         { position: fixed !important }
  .lg\:absolute      { position: absolute !important }
  .lg\:relative      { position: relative !important }
  .lg\:sticky        { position: -webkit-sticky; position: sticky }
  .lg\:bottom        { bottom: 0; }

  .lg\:left          { float: left !important; }
  .lg\:right         { float: right !important; }
  .lg\:clear         { clear: both; }
  .lg\:center       { float: none; margin-left: auto; margin-right: auto; }

  .lg\:centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* transform: translateY(-50%); */
    /* right: 25px; */
    /* left: 25px; */
  }

  .lg\:v-centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .lg\:full         { width: 100%; height: 100%; }
  .lg\:h-full       { height: 100% }
  .lg\:h-screen     { height: 100vh }
  .lg\:max-h-full   { max-height: 100% }
  .lg\:max-h-screen { max-height: 100vh }

  .lg\:w-full       { width: 100% }
  .lg\:w-screen     { width: 100vw }
  .lg\:max-w-full   { max-width: 100% }
  .lg\:max-w-screen { max-width: 100vw }

  .lg\:m-0, .lg\:m0, .lg\:nomargin { margin: 0 }
  .lg\:m-10         { margin: 10px; }
  .lg\:m-25         { margin: 25px; }
  .lg\:m-50         { margin: 50px; }
  .lg\:m-100        { margin: 100px; }
  .lg\:mt-10        { margin-top: 10px; }
  .lg\:mt-25        { margin-top: 25px; }
  .lg\:mt-50        { margin-top: 50px; }
  .lg\:mt-100       { margin-top: 100px; }
  .lg\:mb-10        { margin-bottom: 10px; }
  .lg\:mb-25        { margin-bottom: 25px; }
  .lg\:mb-50        { margin-bottom: 50px; }
  .lg\:mb-100       { margin-bottom: 100px; }
  .lg\:ml-10        { margin-left: 10px; }
  .lg\:ml-25        { margin-left: 25px; }
  .lg\:ml-50        { margin-left: 50px; }
  .lg\:ml-100       { margin-left: 100px; }
  .lg\:mr-10        { margin-right: 10px; }
  .lg\:mr-25        { margin-right: 25px; }
  .lg\:mr-50        { margin-right: 50px; }
  .lg\:mr-100       { margin-right: 100px; }

  .lg\:p-0, .lg\:p0, .lg\:nopadding { padding: 0 }
  .lg\:p-10         { padding: 10px; }
  .lg\:p-25         { padding: 25px; }
  .lg\:p-50         { padding: 50px; }
  .lg\:p-100        { padding: 100px; }
  .lg\:pt-10        { padding-top: 10px; }
  .lg\:pt-25        { padding-top: 25px; }
  .lg\:pt-50        { padding-top: 50px; }
  .lg\:pt-100       { padding-top: 100px; }
  .lg\:pb-10        { padding-bottom: 10px; }
  .lg\:pb-25        { padding-bottom: 25px; }
  .lg\:pb-50        { padding-bottom: 50px; }
  .lg\:pb-100       { padding-bottom: 100px; }
  .lg\:pl-10        { padding-left: 10px; }
  .lg\:pl-25        { padding-left: 25px; }
  .lg\:pl-50        { padding-left: 50px; }
  .lg\:pl-100       { padding-left: 100px; }
  .lg\:pr-10        { padding-right: 10px; }
  .lg\:pr-25        { padding-right: 25px; }
  .lg\:pr-50        { padding-right: 50px; }
  .lg\:pr-100       { padding-right: 100px; }

  .lg\:bg-black   { background-color: #000 }
  .lg\:bg-333     { background-color: #333 }
  .lg\:bg-666     { background-color: #666 }
  .lg\:bg-999     { background-color: #999 }
  .lg\:bg-ccc     { background-color: #ccc }
  .lg\:bg-white   { background-color: #fff }

  .lg\:text-black   { color: #000 }
  .lg\:text-333     { color: #333 }
  .lg\:text-666     { color: #666 }
  .lg\:text-999     { color: #999 }
  .lg\:text-ccc     { color: #ccc }
  .lg\:text-white   { color: #fff }

  .lg\:text-left    { text-align: left; }
  .lg\:text-center  { text-align: center; }
  .lg\:text-right   { text-align: right; }
  .lg\:text-lower   { text-transform: lowercase; }
  .lg\:text-upper   { text-transform: uppercase; }
  .lg\:text-under   { text-decoration: underline }

  .lg\:hover\:text-under:hover { text-decoration: underline }
  .lg\:focus\:text-under:focus { text-decoration: underline }

  .lg\:text-tighter { letter-spacing: -.05em }
  .lg\:text-tight   { letter-spacing: -.025em }
  .lg\:text-wide    { letter-spacing: .025em }
  .lg\:text-wider   { letter-spacing: .05em }

  .lg\:text-smaller { font-size: 0.5em }
  .lg\:text-small   { font-size: 0.75em }
  .lg\:text-big     { font-size: 1.5em }
  .lg\:text-bigger  { font-size: 2em }

  .lg\:nowrap       { white-space: nowrap; }
  .lg\:truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
}

@media (min-width: 1200px) {
  .sm\:visible,
  .md\:visible,
  .lg\:visible,
  .xl\:hidden {
    display: none !important;
  }

  .xl\:visible {
    display: inherit !important;
  }

  .xl\:block         { display: block !important; }
  .xl\:inline        { display: inline-block !important; *display: inline; /*IE 6/7*/ }

  .xl\:fixed         { position: fixed !important }
  .xl\:absolute      { position: absolute !important }
  .xl\:relative      { position: relative !important }
  .xl\:sticky        { position: -webkit-sticky; position: sticky }
  .xl\:bottom        { bottom: 0; }

  .xl\:left          { float: left !important; }
  .xl\:right         { float: right !important; }
  .xl\:clear         { clear: both; }
  .xl\:center       { float: none; margin-left: auto; margin-right: auto; }

  .xl\:centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* transform: translateY(-50%); */
    /* right: 25px; */
    /* left: 25px; */
  }

  .xl\:v-centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .xl\:full         { width: 100%; height: 100%; }
  .xl\:h-full       { height: 100% }
  .xl\:h-screen     { height: 100vh }
  .xl\:max-h-full   { max-height: 100% }
  .xl\:max-h-screen { max-height: 100vh }

  .xl\:w-full       { width: 100% }
  .xl\:w-screen     { width: 100vw }
  .xl\:max-w-full   { max-width: 100% }
  .xl\:max-w-screen { max-width: 100vw }

  .xl\:m-0, .xl\:m0, .xl\:nomargin { margin: 0 }
  .xl\:m-10          { margin: 10px; }
  .xl\:m-25          { margin: 25px; }
  .xl\:m-50          { margin: 50px; }
  .xl\:m-100         { margin: 100px; }
  .xl\:mt-10         { margin-top: 10px; }
  .xl\:mt-25         { margin-top: 25px; }
  .xl\:mt-50         { margin-top: 50px; }
  .xl\:mt-100        { margin-top: 100px; }
  .xl\:mb-10         { margin-bottom: 10px; }
  .xl\:mb-25         { margin-bottom: 25px; }
  .xl\:mb-50         { margin-bottom: 50px; }
  .xl\:mb-100        { margin-bottom: 100px; }
  .xl\:ml-10         { margin-left: 10px; }
  .xl\:ml-25         { margin-left: 25px; }
  .xl\:ml-50         { margin-left: 50px; }
  .xl\:ml-100        { margin-left: 100px; }
  .xl\:mr-10         { margin-right: 10px; }
  .xl\:mr-25         { margin-right: 25px; }
  .xl\:mr-50         { margin-right: 50px; }
  .xl\:mr-100        { margin-right: 100px; }

  .xl\:p-0, .xl\:p0, .xl\:nopadding { padding: 0 }
  .xl\:p-10         { padding: 10px; }
  .xl\:p-25         { padding: 25px; }
  .xl\:p-50         { padding: 50px; }
  .xl\:p-100        { padding: 100px; }
  .xl\:pt-10        { padding-top: 10px; }
  .xl\:pt-25        { padding-top: 25px; }
  .xl\:pt-50        { padding-top: 50px; }
  .xl\:pt-100       { padding-top: 100px; }
  .xl\:pb-10        { padding-bottom: 10px; }
  .xl\:pb-25        { padding-bottom: 25px; }
  .xl\:pb-50        { padding-bottom: 50px; }
  .xl\:pb-100       { padding-bottom: 100px; }
  .xl\:pl-10        { padding-left: 10px; }
  .xl\:pl-25        { padding-left: 25px; }
  .xl\:pl-50        { padding-left: 50px; }
  .xl\:pl-100       { padding-left: 100px; }
  .xl\:pr-10        { padding-right: 10px; }
  .xl\:pr-25        { padding-right: 25px; }
  .xl\:pr-50        { padding-right: 50px; }
  .xl\:pr-100       { padding-right: 100px; }

  .xl\:bg-black   { background-color: #000 }
  .xl\:bg-333     { background-color: #333 }
  .xl\:bg-666     { background-color: #666 }
  .xl\:bg-999     { background-color: #999 }
  .xl\:bg-ccc     { background-color: #ccc }
  .xl\:bg-white   { background-color: #fff }

  .xl\:text-black   { color: #000 }
  .xl\:text-333     { color: #333 }
  .xl\:text-666     { color: #666 }
  .xl\:text-999     { color: #999 }
  .xl\:text-ccc     { color: #ccc }
  .xl\:text-white   { color: #fff }

  .xl\:text-left    { text-align: left; }
  .xl\:text-center  { text-align: center; }
  .xl\:text-right   { text-align: right; }
  .xl\:text-lower   { text-transform: lowercase; }
  .xl\:text-upper   { text-transform: uppercase; }
  .xl\:text-under   { text-decoration: underline }

  .xl\:hover\:text-under:hover { text-decoration: underline }
  .xl\:focus\:text-under:focus { text-decoration: underline }

  .xl\:text-tighter { letter-spacing: -.05em }
  .xl\:text-tight   { letter-spacing: -.025em }
  .xl\:text-wide    { letter-spacing: .025em }
  .xl\:text-wider   { letter-spacing: .05em }

  .xl\:text-smaller { font-size: 0.5em }
  .xl\:text-small   { font-size: 0.75em }
  .xl\:text-big     { font-size: 1.5em }
  .xl\:text-bigger  { font-size: 2em }

  .xl\:nowrap       { white-space: nowrap; }
  .xl\:truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
}

.visible  { display: inherit !important; }
.hidden   { display: none !important; }

.print\:visible {
  display: none !important;
}

@media print {
  .print\:visible {
    display: inherit !important;
  }
  .print\:hidden {
    display: none !important;
  }
}
